body {
    font-family: fantasy;
    margin: 0 5% 0 5%;
}

main {
    background-color: rgb(244, 241, 241);
    padding: 1% 0 1% 0;

}

header, footer {
    border: rgb(104, 47, 47) solid 2px;
    padding: 2%;
    margin-bottom: 1%;

}

footer {
    height: 20%;
    clear: both;
}


img {
    width: 20%;
    height: 30%;
    display: block;
    margin: auto;
}


main li {
    list-style-type: none;
    margin-bottom: 2%;

}

nav a:hover {
    color: lightpink;
}